<div class="navbar-wrapper" ng-controller="HomeNavCtrl">
    <div class="navbar-inner" style="background-color: #fff;height:100px">
        <nav class="navbar navbar-static-top nav-bar-hdr" nav-bar-header style="border-bottom:3px solid #0061AE;">
        </nav>
    </div>
    <div class="navbar">
        <div class="navbar-inner" style="background-color: #0061AE;color:white;width: 70em; margin: 0 auto;margin-top: -25px;">
            <nav class="navbar navbar-static-top" nav-bar menuitems="menu"></nav>
        </div>
    </div>
</div>


<div class="container1 marketing main-view-margin" style="width: 70em;margin: 0 auto;margin-top: 180px;">
   <!-- <div main-content class="main-content" maindesp="maindesp" ng-controller="CorePlatformsDespCtrl"></div> -->
    <!-- START :: file upload -->
    <div ng-controller="MyCtrl">
        <div class="col-sm-12" style="padding:20px;border-radius: 4px;background-color: #fff" ng-show="dragJar">
               <!-- <div class="col-sm-6">
                    <span>upload file :</span>
                    <div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">Select File</div>
                </div>-->
                <div style="width: 200px;margin: 0 auto;cursor: pointer;">
                    <div ngf-drop ngf-select ng-model="files" class="drop-box"
                         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                         accept="*">Drop jar here or click to upload</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
               <!-- <div class="col-sm-4">
                <span>Files:</span>
                <ul>
                    <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
                </ul>
                Upload Log:
                <pre>{{log}}</pre>
                    </div>-->
        </div>
        <div class="col-sm-12" style="padding-top: 20px">
        <!-- treeView -->
        <div class="col-sm-12">
            <table id="hierarchicalGrid"></table>
        </div>
        <!-- treeView -->



      </div>

        <div class="col-sm-12">
            <div id="tree-container" ng-show="showD3Tree" style="width: 67em;margin: 0 auto;padding: 15px"></div>
        </div>


        <div class="col-sm-12" style="border-top: 1px solid #CCCCCC;padding-top: 20px">
            <input type="button" value="View Graph" ng-click="toggleModalGraph()" ng-show="apifyBtnDisp">
            <input type="button" value="APIfy" ng-click="toggleModal()" ng-show="apifyBtnDisp">
        </div>

        <!--modal -->
        <modal title="Apify" visible="showModal">
            <form role="form">
                <div ng-show="showHdrParam">
                <div class="form-group">
                    <div class="col-sm-12" style="padding-bottom: 10px;">
                        <div class="col-sm-4">
                    <label for="email">HTTP Header</label>
                            </div>
                        <div class="col-sm-8">
                    <!--<input type="email" class="form-control" id="email" placeholder="e.g GET,PUT,POST,DELETE" />-->
                            <select>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                                <option value="GET">GET</option>
                            </select>
                            </div>
                    </div>
                </div>
                <div class="form-group" id="hdrKey">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                    <label for="password">Additional Headers</label>
                            </div>
                        <div class="col-sm-4">
                    <input type="text" class="form-control" id="key" placeholder="Key" />
                            </div>
                        <div class="col-sm-4">
                    <input type="text" class="form-control" id="value" placeholder="Value" />
                            </div>
                        </div>
                </div>
                <div class="col-sm-12">
                    <img src="img/plus.png" ng-click="appendHeader()" style="float: right;">
                </div>
                </div>
                <div class="col-sm-12" id="resDiv" style="padding: 10px;margin-left: 20px;">
                    <!--<span>{{reshdr}}</span>
                    <a href={{resText}}>Download Link</a>-->
                </div>
                <button type="submit" class="btn btn-default" ng-click="callApify();">Submit</button>
            </form>
        </modal>
        <!--modal -->



    </div>
</div>

    <!-- END :: file upload -->



</div>