<canvas id="pdf-canvas" class="rotate0"></canvas>
<!--<nav ng-class="{'pdf-controls fixed': scroll > 100, 'pdf-controls': scroll <= 100}">-->
<div style="border-top: 2px solid #cecece;padding: 10px;">
    <button style="background:url(img/back.png);background-size: 18px 18px;background-repeat: no-repeat;border:none;color:transparent;outline:none;" ng-click="goPrevious()">
        <</span>
    </button>
    <button style="background:url(img/forward.png);background-size: 18px 18px; background-repeat: no-repeat;border:none;color:transparent;outline:none;" ng-click="goNext()">></span>
    </button>
    <!--<button ng-click="zoomIn()">+</span>
    </button>
    <button  ng-click="zoomOut()">-</span>
    </button>-->
    <div style="float:right;">Page:</span>
        <input type="text" min=1 ng-model="pageNum" style="width:40px;display:inline;"><span> / {{pageCount}}</div>
</div>
<!--</nav>-->


