<div class="navbar-wrapper" ng-controller="HomeNavCtrl">
    <div class="navbar-inner" style="background-color: #fff;height:100px">
        <nav class="navbar navbar-static-top nav-bar-hdr" nav-bar-header style="border-bottom:3px solid #0061AE;">
        </nav>
    </div>
    <div class="navbar">
        <div class="navbar-inner" style="background-color: #0061AE;color:white;width: 70em; margin: 0 auto;margin-top: -25px;">
            <nav class="navbar navbar-static-top" nav-bar menuitems="menu"></nav>
        </div>
    </div>
</div>


<div class="container marketing main-view-margin">
    <div team-main-content class="main-content" maindesp="maindesp" ng-controller="CoreTeamDespCtrl"></div>
</div>