<div class="navbar-wrapper" ng-controller="CapstoneNavCtrl">
    <div class="navbar-inner" style="background-color: #fff;height:100px">
        <nav class="navbar navbar-static-top nav-bar-hdr" nav-bar-header menuitems="menu" style="border-bottom:3px solid #0061AE;">
        </nav>
    </div>
    <div class="navbar">
        <div class="navbar-inner" style="background-color: #0061AE;color:white;width: 70em; margin: 0 auto;margin-top: -25px;">
            <nav class="navbar navbar-static-top" nav-bar menuitems="menu"></nav>
        </div>
    </div>
</div>

<div ng-controller="CapstoneCarouselDemoCtrl" class="carousel-wrap  main-view-margin">
    <div style="height: 500px">
        <carousel interval="myInterval" disable-animation="true">
            <slide ng-repeat="slide in slides">
                <img ng-src="{{slide.image}}" style="margin:auto;width:100%;height:500px;">
                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
</div>

<div class="sub-nav-wrap">
    <nav class="sub-navbar" design-menu-bar submenuitems="submenu"></nav>
</div>

<div class="container marketing">
    <div class="wrapper" ng-controller="capstoneDocCtrl">
        <ng-pdf template-url="/views/pdf-viewer.html"></ng-pdf>
    </div>
</div>